/* Reset */
body {
  margin: 0;
  background: #f5f8fb;
}

/* Main Container */
.container {
  min-height: 100vh;
  width: 100vw; /* FULL SCREEN WIDTH */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px;
  background: #f5f8fb;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
